body
{
    background: url('{% static "img/bg.jpg" %}') no-repeat;
    font-family: Arial;
    color:red
}

.dropdown-item:hover
{
    background-color: lightgray;
}

.carousel-item img{
    height: 300px;
    padding: 0% 2% 0% 2%;
}

/*Footer*/

footer h4{
    color: white;
    padding: 1% 1% 1% 1%;
}

#Contact{
    background-color: rgb(40, 44, 58);
}
  
  @media screen and (min-width: 720px) {
    .fa {
        padding: 1%;
      font-size: 5%;
      width: 4%;
      text-align: center;
      text-decoration: none;
      /*border-radius: 50%;*/
      }
      
      /* Add a hover effect if you want */
      .fa:hover {
        opacity: 0.7;
      }
      
      /* Set a specific color for each brand */
      
      /* Facebook */
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      
      /* Twitter */
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
  }

  /*Footer-End*/