body
{
    background: url('../img/bg.jpg') no-repeat;
    font-family: Arial;
    color:cornflowerblue
}

.dropdown-item:hover
{
    background-color: lightgray;
}

footer{
  margin-top: 60%;
}

footer h4{
    color: white;
}


/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 2% 2%;
    margin: 2% 0%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 2% 2%;
    margin: 2% 2%;
    border: none;
    cursor: pointer;
    width: 20%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 2% 3%;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 2% 0% 2% 0%;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 0% 15% 0% 15%;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 4%;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

  /*Footer*/

footer h4{
  color: white;
  padding: 1% 1% 1% 1%;
}

#Contact{
  background-color: rgb(40, 44, 58);
}

@media screen and (min-width: 720px) {
  .fa {
      padding: 1%;
    font-size: 5%;
    width: 4%;
    text-align: center;
    text-decoration: none;
    /*border-radius: 50%;*/
    }
    
    /* Add a hover effect if you want */
    .fa:hover {
      opacity: 0.7;
    }
    
    /* Set a specific color for each brand */
    
    /* Facebook */
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    /* Twitter */
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
}

/*Footer-End*/