<!DOCTYPE html>
  <html lang="en">
    <head>
    
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <title>Login</title>
    </head>
    <body>
      {% load static %}
      <link href="{% static 'stylesheets/Login_style.css'%}" rel='stylesheet'>
      <script src="{% static 'Login_script.js' %}"></script>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
      <!--Navbar-->  
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" style="font-size: 180%">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Personal
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Business
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Accounts</a>
                <a class="dropdown-item" href="#">Tools</a>
                <a class="dropdown-item" href="#">Online</a>
              </div>
            </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Invest
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Business Services</a>
                <a class="dropdown-item" href="#">Banking Services</a>
                <a class="dropdown-item" href="#">Business Centres</a>
              </div>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#Services">Services</a>
              </li>
              <li class="nav-item active">
              <a class="nav-link" href="#About">About</a>
            </li>
              
              <li class="nav-item active">
              <a class="nav-link" href="#Contact">Contact Us</a>
            </li>
          </ul>
        
        </div>
      </nav>

      <h3 style="padding: 2%; color:white;">Click the Button below to Enter Login credentials and Log into Your Account Securely.</h3>

    <!-- Button to open the modal login form -->
<button onclick="document.getElementById('id01').style.display='block'" style="margin: 0% 40% 0% 38%;">Login</button>

<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <img src='{% static "img/account.jpg" %}' alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
    
  <!--Footer-->    
  <footer  class="container-fluid footer" id="Contact">
    <span class="col-md-3" ><h4>Contact Us:</h4></span>
    <br>
    <span class="col-md-3" style="color: gray;">General Enquiries:</span>
    <span class="col-md-3">(+91) 1234567890</span>
    <span class="col-md-3">(+91) 1234567890</span>
    <br>
    <br>
    <span class="col-md-3" style="color: gray;">Or email us at:</span>
    <span class="col-md-3">support@bank.com</span>
    <span class="col-md-3">help@bank.com</span>
    <br>
    <br>
    <span class="col-md-3" style="color: gray;">Find us on:</span>
    <a href="https://www.facebook.com/login/" class="fa fa-facebook"></a>
    <a href="https://twitter.com/login?lang=en" class="fa fa-twitter"></a>
    <br>
    <br>
</footer> 
  </body>

</html>